---
import { type CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
	const posts = await getCollection("posts");
	return posts.map((post) => ({
		params: { slug: post.id },
		props: { post },
	}));
}

const { post } = Astro.props;
const newUrl = `/${post.id}/`;
---

<meta http-equiv="refresh" content={`0;url=${newUrl}`} />
<script define:vars={{ newUrl }}>
	window.location.href = newUrl;
</script>
<h1>Redirecting...</h1>
<p>
	This post has moved to a new location. If you are not redirected automatically, <a href={newUrl}
		>click here</a
	>.
</p>
