---
import { getCollection } from "astro:content";

// This is a redirect page that will take users from /blog to /posts
---

<meta http-equiv="refresh" content="0;url=/posts" />
<script>
	window.location.href = "/posts";
</script>
<h1>Redirecting...</h1>
<p>
	We've moved our posts to a new location. If you are not redirected automatically, <a href="/posts"
		>click here</a
	>.
</p>
