---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h2>☕ INeedCoffee Archives</h2>

			<p>
				INeedCoffee is a coffee blog that has been around since 1999. It was started by a group of
				coffee enthusiasts who wanted to share their love of coffee with the world.
			</p>

			<p>Add text about the archiving of INeedCoffee.</p>
		</main>
		<Footer />
	</body>
</html>
