---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h2>☕ INeedCoffee Archived</h2>

			<p>INeedCoffee is now an archive.</p>

			<p>After more than 25 years online, INeedCoffee is entering a new chapter.</p>
			<p>
				Launched in April 1999, INeedCoffee has spent over two decades celebrating coffee
				culture—from home brewing techniques to the rich history of coffee itself. Over the years,
				it became a gathering place for coffee enthusiasts to share knowledge, tips, and
				experiences.
			</p>
			<p>
				As of May 2025, INeedCoffee will no longer publish new content. However, the full archive
				will remain online—for coffee lovers new and old to enjoy. All 631 articles written by 166
				contributors. Thank you to everyone who visited, contributed, and shared a cup with
				us—virtually or otherwise. Your enthusiasm made this site what it was.
			</p>

			<img src="/images/ineedcoffee-smile.jpg" alt="INeedCoffee Logo" />

			<p>Michael Allen Smith</p>
			<p>Founder, INeedCoffee</p>
		</main>
		<Footer />
	</body>
</html>
